    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body {
    font-family: variables.$fuente-principal;
    background-color: variables.$color-secundario;
    color: variables.$color-texto;
    }
