@use '../abstracts/variables' as vars;

    * {
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
    
    }

    body {
    font-family: vars.$fuente-principal;
    background-color: vars.$color-secundario;
    color: vars.$color-texto;
    }
