    @use '../abstracts/variables' as vars;
    @use 'sass:color';

    
    .formulario {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 2rem;

    input, button {
        padding: 0.5rem;
        font-size: 1rem;
    }

    button {
        background-color: vars.$color-primario;
        color: white;
        border: none;
        cursor: pointer;
        transition: background 0.2s ease;

        &:hover {
        background-color: color.adjust(vars.$color-primario, $lightness: -10%);

        }
    }
    
    }

    .grupo-medidas {
        display: flex;
        gap: 0.5rem;

        input {
            flex: 1;
        }
        }

        .lista-categorias {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            margin-bottom: 2rem;

            .card-categoria {
                padding: 1rem 2rem;
                background: gray;
                border-radius: 8px;
                cursor: pointer;
                font-weight: bold;
                transition: background 0.2s ease;

                &:hover {
                background: #ccc;
                }
            }
        }


