    @use '../abstracts/variables' as vars;
    
    .formulario {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 2rem;

    input, button {
        padding: 0.5rem;
        font-size: 1rem;
    }

    button {
        background-color: vars.$color-primario;
        color: white;
        border: none;
        cursor: pointer;
        transition: background 0.2s ease;

        &:hover {
        background-color: darken(vars.$color-primario, 10%);
        }
    }
    
    }

    .grupo-medidas {
        display: flex;
        gap: 0.5rem;

        input {
            flex: 1;
        }
        }

